* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(canvas/scenery-morning.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #445c7f;
  overflow-x: hidden;
  text-shadow: 0 0 3px transparent;
}

#wrapper {
  width: 50vw;
  height: 50vw;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: hidden;
}

#mainCanva {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  margin-top: 4%;
  margin-left: 4%;
}

.navbar a {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 3%;
  text-decoration: none;
  font-size: 20px;
  color: inherit;
}

#logo {
  margin-right: 3%;
  width: 5%;
  object-fit: contain;
}

#mode-img {
  object-fit: contain;
  cursor: pointer;
}

h1 {
  font-family: "Patrick Hand", cursive;
  font-size: 4em;
}

#intro {
  width: 38%;
  margin-left: 8%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro h1 {
  margin: 0;
}

#intro h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 80%;
}

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  margin: auto;
  position: relative;
}

#about h2 {
  width: 60%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#profile-pic {
  position: absolute;
  top: 42%;
  left: 10%;
  width: 25%;
  border-radius: 50%;
}

#education {
  height: auto;
  position: absolute;
  transform: translateY(15%);
  left: 10%;
  width: 80%;
}

.edu-content {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.icon {
  margin-left: 8%;
  margin-right: 4%;
  width: 80px;
}

#bus-container {
  background-image: url(canvas/StraightRoad.svg);
  background-size: cover;
  background-size: 100% 100%;
  height: 650px;
  position: relative;
  margin-bottom: 10%;
}

#school-bus {
  position: absolute;
  width: 150px;
}

#project {
  width: 80%;
  margin: 10% auto;
  text-align: center;
  color: #7d759f;
}

.project-container {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
  color: #666189;
  border-radius: 10px;
  box-shadow: 5px 5px 15px gray;
  padding: 3%;
  overflow: hidden;
  display: flex;
  margin-bottom: 30px;
}

.line1 {
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  padding-bottom: 10px;
}

.line2 {
  display: inline-block;
  padding-bottom: 10px;
}

.button {
  background-color: #666189;
  padding: 1.2% 5%;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin: 2% 3%;
  display: inline-block;
}

.line4 {
  font-family: monospace;
  padding: 3px;
  margin: 10px;
  font-size: 15px;
  color: black;
}

.project-container .thumbnail {
  width: 35%;
  height: auto;
  margin-right: 5%;
  object-fit: contain;
}

#contact {
  color: white;
  text-align: center;
}

.contact-icon {
  width: 100px;
}

#contact-container {
  flex-direction: row;
  width: 60%;
  margin: auto;
  text-align: left;
}

.contact-content {
  display: inline-block;
  width: 48%;
  margin-bottom: 5%;
}

.tooltiptext {
  position: absolute;

  transform: scale(0, 1);
  background-color: rgb(216, 216, 216);
  color: rgb(69, 69, 69);
  border-radius: 0 30px 30px 0;
  z-index: -1;
  padding: 20px 30px;
  margin-top: 1.7%;
  margin-left: -1.5%;
  font-family: "Patrick Hand", cursive;
}

.contact-icon {
  cursor: pointer;
}

.contact-icon:hover + .tooltiptext {
  visibility: visible;
  transform: scale(1, 1);
  transition: transform 0.3s ease-in-out;
  transform-origin: 0% 50%;
}

@media only screen and (max-width: 1080px) {
  #about,
  #education {
    width: 95%;
    left: 0%;
    height: auto;
  }
  #wrapper {
    top: 15%;
  }

  #contact-container {
    width: 90%;
  }
}

@media only screen and (max-width: 850px) {
  #wrapper {
    width: 90vw;
    height: 90vw;
    position: relative;
    margin: auto;
  }

  #intro {
    width: 80%;
    height: auto;
    margin: auto;
  }

  #intro h2 {
    margin: auto;
  }

  .icon {
    margin-left: 0%;
    margin-right: 3%;
  }

  #project {
    width: 95%;
  }

  .contact-icon {
    width: 80px;
  }

  .tooltiptext {
    padding: 10px 15px;
    margin-top: 2.5%;
  }

  #bus-container {
    display: none;
  }

  #education {
    height: auto;
    position: relative;
    margin: 15% auto;
  }

  #education h1 {
    text-align: center;
  }

  .tooltiptext {
    transform: scale(1, 1);
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.9em;
  }

  h1 {
    font-size: 35px;
  }
  #about {
    align-items: center;
  }

  #about h2 {
    width: 90%;
    font-size: 1em;
  }

  #profile-pic {
    position: relative;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .project-container {
    display: block;
    text-align: center;
  }

  .project-container .thumbnail {
    width: 80%;
  }

  .button {
    font-size: 14px;
  }

  .contact-icon {
    width: 60px;
  }

  .contact-content {
    width: 90%;
  }
}
